<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <% if(enabled){%>
        <form action="/edit?id=<%=id%>" method="POST" enctype="multipart/form-data" style="margin:10px;">
            
            <div class="form-group">Name: <input type="text" name="name" class="form-control" pattern="^\S$|^\S[\s\S]*\S$"></div>
            <div class="form-group">Cuisine: <input type="text" name="cuisine" class="form-control" pattern="^\S$|^\S[\s\S]*\S$"></div>
            <div class="form-group">Borough: <input type="text" name="borough" class="form-control" pattern="^\S$|^\S[\s\S]*\S$"></div>
            <div class="form-group">Photo: <input type="file" name="photo" class="form-control"></div>
            <div class="form-group">Street: <input type="text" name="street" class="form-control" pattern="^\S$|^\S[\s\S]*\S$"></div>
            <div class="form-group">Building: <input type="text" name="building" class="form-control" pattern="^\S$|^\S[\s\S]*\S$"></div>
            <div class="form-group">Zip Code: <input type="text" name="zipcode" class="form-control" pattern="^\S$|^\S[\s\S]*\S$"></div>
            <div class="form-group">GPS Coordinates(lat.): <input type="number" step="any" name="lat" class="form-control"></div>
            <div class="form-group">GPS Coordinates(lon.): <input type="number" step="any" name="lon" class="form-control"></div>
            <div class="form-group"><input type="submit" class="btn btn-default"></div>
        </form>
        <%}%>
        <a href="/details?id=<%=id%>" class="btn btn-default" style="margin-bottom:20px;margin-left:10px">Go Back</a>
        <p><%=result%></p>
    </body>
</html>