<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Restaurant</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1> User: <%=username %></h1> 
            <a href="/logout" class="btn btn-default">Logout</a>
        </div>
            <div class="form-group form-inline" style="margin-left:10px;margin-bottom:10px;">
             <a href="/createRestaurant" class="btn btn-default">Create NewRecord</a>
            <input type="text" id="search-data" class="form-control">
            <select class="form-control" id="selection">
                <option value="name">Name</option>
                <option value="cuisine">Cuisine</option>
                <option value="borough">Borough</option>
                <option value="restaurant_id">Restaurant ID</option>
                <option value="address.street">Street</option>
                <option value="address.building">Building</option>
                <option value="address.zipcode">Zip Code</option>
                <option value="owner">Creator</option>
                <option value="coord" id="coord">Coordinates</option>
            </select>
            <button type="button" class="btn btn-default" id="search">Search</button>
        </div>
       
        <div>
           <table class="table">
                <tbody id="search-tb">
                    <% if (typeof restaurants == 'string'){ %>
                        <tr><td><p style="margin:10px;"><%=restaurants%></p></td></tr>
                     <%} else { restaurants.forEach(res => { %>
                    
                        <tr>
                            <td><a href="/details?id=<%=res._id%>"><%=res.name%></a></td>
                        </tr>
                 
                    <% }) }%>
                </tbody>
           </table>      
        </div>
         <script type="text/javascript">
            $(document).ready(function(){
            $('#search').click(function(){
                //Compound data set
                var s_option = $('#selection option:selected').val();
                var value, datas = null;  
                var temp = {};
                if (s_option == "coord"){
                    var lat = parseFloat($.trim($('#coord-lat').val()));
                    var lon = parseFloat($.trim($('#coord-lon').val()));
                    temp[s_option+".lat"] = (lat) ? lat :null ; 
                    temp[s_option+".lon"] = (lon) ? lon :null ;
                    datas = (temp[s_option+".lat"] || temp[s_option+".lon"]) ? temp:{};
                } else {
                    value = $('#search-data').val();
                    temp[s_option] = value;
                    datas = ($.trim(temp[s_option]) == "") ? {} : temp;
                }
                //Send data set to server and get handle response from server
                //alert(JSON.stringify(datas));
                $.ajax({type:'POST',
                headers:{'resource':'ajax'},
                url:'/read', 
                contentType: "application/json",
                data:JSON.stringify(datas),
                success:function(result,status, xhr){
                    //alert("Result: "+JSON.stringify(xhr.getResponseHeader('content-type')) + " Result: "+ result + " Status: "+ status);
                    if (typeof result != 'string'){
                        var formatData = '<tbody id="search-tb">'; 
                        for(key in result){
                            formatData += '<tr><td><a href="/details?id='+ result[key]._id + '">'+result[key].name+'</a></td></tr>';
                        }
                        formatData += '</tbody>';
                         $(formatData).replaceAll("#search-tb");
                    } else if(status == 'success' && result =="/login"){
                       window.location.href = result;
                    } else {
                         $('<tbody id="search-tb"><tr><td>'+result+'</td></tr></tabody>').replaceAll("#search-tb");
                    }
                },
                fail:function(err){
                    alert(err);
                }});
            });
            });     
        </script>
        <script>
        $(document).on('change','#selection',function(){           
            var select = $(this).find('option:selected').attr('value');
            if(select == "coord"){
                var coordInput = '<input type="text" id="coord-lat" class="form-control" placeholder="Latitude e.g. 1.000" style="margin:5px;" required><input type="text" id="coord-lon" class="form-control" placeholder="Longtitude e.g. 1.000">';
                $(coordInput).replaceAll("#search-data");
            } else {
                $('<input type="text" id="search-data" class="form-control" required>').replaceAll("#coord-lat");
                $('#coord-lon').remove();
           }
        });

        </script>
    </body>
</html>