<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign Up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form action="/signup" method="POST" enctype="multipart/form-data" style="margin:10px;">
            <div class="form-group">User Name: <input type="text" name="username" pattern='^\S+$' class="form-control"></div>
            <div class="form-group">Password: <input type="text" name="pw" pattern='^\S+$' class="form-control"></div>
            <ol>
                <li><p>No any whitespace in username or password</li>
            </ol>
            <input type="submit" value="Submit" class="btn btn-default"> 
        </form>
        <a href="/login" class="btn btn-default" style="margin-left:10px;">Go Back</a>
        <p style="margin-left:10px;"><%=result%></p>
    </body>
</html>